# Postgres Database
POSTGRES_USER=gitea
POSTGRES_PASSWORD=gitea_secret_password
POSTGRES_DB=gitea

# Gitea Database Config
GITEA__database__USER=gitea
GITEA__database__PASSWD=gitea_secret_password
GITEA__database__NAME=gitea

# MinIO Config
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=minio_secret_password

# Gitea Domain
GITEA__server__DOMAIN=git.ngtukien.id.vn
GITEA__server__ROOT_URL=https://git.ngtukien.id.vn/
GITEA__server__SSH_DOMAIN=git.ngtukien.id.vn

# Cloudflare tunnel
CLOUDFLARE_TUNNEL_TOKEN=your_cloudflare_tunnel_token

# Gitea Runner
GITEA_RUNNER_TOKEN=your_gitea_runner_token

# Microsort SSO
SSO_CLIENT_ID=your_sso_client_id
SSO_SECRET=your_sso_secret
SSO_DIRECTORY_ID=your_sso_directory_id
