# Postgres Database
POSTGRES_USER=gitea
POSTGRES_PASSWORD=gitea_secret_password
POSTGRES_DB=gitea

# Gitea Database Config
GITEA__database__USER=gitea
GITEA__database__PASSWD=gitea_secret_password
GITEA__database__NAME=gitea

# MinIO Config
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minio_secret_password

# Gitea Domain
GITEA__server__DOMAIN=git.nits.io.vn
GITEA__server__ROOT_URL=https://git.nits.io.vn/
GITEA__server__SSH_DOMAIN=git.nits.io.vn

# Cloudflare tunnel
CLOUDFLARE_TUNNEL_TOKEN=your_cloudflare_tunnel_token

# Qdrant api key
QDRANT_API_KEY=your_qdrant_api_key

# Microsort SSO
SSO_CLIENT_ID=your_sso_client_id
SSO_SECRET=your_sso_secret
SSO_DIRECTORY_ID=your_sso_directory_id
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minio_secret_password

# API integration credentials
DOCLING_API_KEY=your_docling_api_key
EMBEDDING_API_KEY=your_embedding_api_key
GITEA_TOKEN=your_gitea_token

# Webapp Configs
WEBAPP_DB=webapp
DOMAIN=assistant.nits.io.vn
FRONTEND_HOST=https://assistant.nits.io.vn
ENVIRONMENT=staging
PROJECT_NAME="NITS Webapp"
BACKEND_CORS_ORIGINS="http://localhost,http://localhost:5173,https://assistant.nits.io.vn"
SECRET_KEY=super_secret_key_please_change_this_to_random_string
FIRST_SUPERUSER=admin@nits.io.vn
FIRST_SUPERUSER_PASSWORD=admin1234
